/*Seccion de Index*/
/*body{ eliminado por ser remplazado por los elementos de bootstrap
    background-color: #ebebeb;
    font-family: Roboto, Arial, sans-serif;
}*/
.contenedor{
    background-color: #ebebeb;
    font-family: Roboto, Arial, sans-serif;
}


.logo{
    width: 80px;
    height: auto;
    padding: 0;
}

.cabecera{
    background-color: #282A35;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 15px;
}

#hamburguesa{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: red;
}

#toggle{
    display: none;
}

.menu{
    background-color: #282A35;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.menu ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.menu ul li a{
    text-decoration: none;
    color: #FFF;
    padding-right: 15px;
    transition: all 0.5s;
}

.menu a:hover{
    text-shadow: 0 0 5px #ebd6da, 0 0 25px #343F56, 0 0 50px #282A35, 0 0 200px #F54748;
}

#carousel img{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}



.footer{
    /*background-color: #282A35;*/
    background-image: linear-gradient(to bottom, #ebebeb, #F54748); 
}

.menuFooter{
    margin: 0;
    padding: 0;
    text-align: center;
}

.menuFooter div{
    display: inline-table;
    background-color: #F54748;
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 55px;
}

.menuFooter div h2{
    color: #FFF;
}

.menuFooter div ul{
    list-style: none;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.menuFooter div ul li{
    margin: 3px;
    text-align: start;
    padding: 6px;
}

.menuFooter div ul li a{
    text-decoration: none;
    color: #FFF;
}

/*.menuFooter hr{
    width: 50%;
}*/

#lineaFooter{
    /*width: 50%;*/
    background-color: #ebebeb;
    height: 5px;
    border: none;
    margin-right: 50px;
    margin-left: 50px;
}

.logoFooter img{
    width: 80px;
    height: auto;
    padding: 0;
}

.logoFooter a{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.redes ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.redes li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.redes a{
    color: black;
    margin-left: 5px;
    margin-right: 10px;

}

/*Seccion de Ayuda*/
#ayuda{
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}

#ayuda article{
    display: grid;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.containerBotones{
    /*background-color: #343F56;*/
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}



.containerBotones input[type=button]{
    margin: 0;
    padding: 0;
    /* width: 65px; */
    height: 60px;
    border: none;
    background-color: #F54748;
    color: white;
    cursor: pointer;
    font-size: x-large;
    text-align: left;
    padding: 10px;
    transition: all 1s;
}

.containerBotones button{
    margin: 0;
    padding: 0;
    /* width: 65px; */
    height: 60px;
    border: none;
    background-color: #F54748;
    color: white;
    cursor: pointer;
    font-size: x-large;
    text-align: left;
    padding: 10px;
    transition: all 1s;
}

.containerBotones button:hover{
    background-color:#ebebeb;
    color: #000;
}

.containerBotones button:not(.collapsed){
    background-color:#ebebeb;
    color: #000;
}
/*Seccion de Contacto*/
#containerAyuda{
    /*background-color: #343F56;*/
    border: 35px solid #ebebeb;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    --bs-gutter-x: 0;
}

.containerInfo H1{
    text-transform: uppercase;
}

.containerInfo{
    /*background-color: #343F56;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.containerFormulario{
    background-color: #282A35;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.containerFormulario form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#formulario{
    background-color: #beb6b6;
    padding: 15px;
    border-radius: 10px;
}

#formulario h2{
    text-align: center;
}

/*Seccion de Metodos de Pago*/
#metodosPago{
    background-color: #ebebeb;
    color: #fff;
}

#metodosPago article h1{
    text-transform: uppercase;
}

#metodosPago div{
    background-color: #282A35;
    display: inline-block;
    padding: 35px;
    border: solid 45px;
    border-color: #ebebeb;
    margin-bottom: 20px;
}

#metodosPago div h2{
    text-align: center;
}

/*Seccion de Ofertas del dia utiliza las mismas clases que las de Index
ya que posee los mismos elementos*/


/*Seccion de Index Movil*/

